<?xml version="1.0"?>
<launch>

    <node pkg="microstrain_3dm_gx3_45" name="imu_3dm_node" type="imu_driver" output="screen" respawn="true">
        <param name="port" value="/dev/3dmgx345"/>
        <param name="rate" value="100.0"/>
        <!--<param name="linear_acceleration_stdev" value="0.25"/>-->
        <!--<param name="orientation_stdev" value="0.5"/>-->
        <!--<param name="angular_velocity_stdev" value="0.5"/>-->

        <!-- No need for duplicate information -->
        <param name="publish_gps_as_odom" value="false"/>
        <param name="publish_nav_pose" value="false"/>
        <param name="publish_nav_fix" value="false"/>publish_pose
        <param name="publish_pose" value="false"/>

        <param name="declination" value="4.41"/>
        <param name="ant_offset_x" value="0.13"/>
        <param name="ant_offset_y" value="-0.05"/>
        <param name="ant_offset_z" value="-0.11"/>
        <param name="dynamics_mode" value="3"/>
        <param name="zero_height" value="False"/>
    </node>

</launch>
